.nav-bar{
	border-top-right-radius: 2%;
	border-top-left-radius: 2%;
	height: 55px;
	width: 100%;
}
.nav-bar-btn, .nav-bar-btn-drop, .dropdown{
	background-color: transparent;
	color: white;
	size: 100%;
	font-size: 20px;
	text-align: center;
	padding: 14px 16px;
	 float: left;
	 border: 0px;
}
.nav-bar button:hover{
	border: 1px solid white;
  font-weight: bold;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.nav-bar button:focus{
	border: 2px solid white;
  background-color: brown;
}
.nav-bar-name{
	display: inline;
	color: white;
}
body{background-color: #e056fd;
background-image: linear-gradient(to right, 	#800000 0%, #000000 74%);
}
.dropdown {
	padding-top: 0px;
  overflow: hidden;
}
.drop-btn{
	background-color: transparent;
	color: white;
	size: 100%;
	font-size: 20px;
	text-align: center;
	padding: 14px 16px;
	 border: 0px;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content button {
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}