.nav-bar{
	border-top-right-radius: 2%;
	border-top-left-radius: 2%;
	height: 55px;
	width: 100%;
}
.nav-bar-btn{
	background-color: transparent;
	color: white;
	size: 100%
	border-radius: 8px;
	font-size: 20px;
	float: left;
	text-align: center;
	padding: 14px 16px;
	 float: left;
	 color: white;
	 border: 0px;
}
.nav-bar button:hover{
	border: 1px solid white;
  font-weight: bold;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.nav-bar button:focus{
	border: 2px solid white;
  background-color: brown;
}
.nav-bar-name{
	display: inline;
	color: white;
}
body{background-color: #e056fd;
background-image: linear-gradient(to right, 	#800000 0%, #000000 74%);
}